.App {
  width: 500px;
  margin-left: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 500px;
}

button {
  float: left;
  width: 90px;
  margin-right: 10px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.games ul {
  list-style: none;
  padding-left: 0;
}

.games ul li {
  margin-bottom: 35px;
}

.games ul li p {
  margin: 0;
  font-size: 16px;
}

.games__title {
  font-size: 21px!important;
  font-weight: 700;
  color: #6d436d;
  margin-bottom: 10px!important;
}

.politics p {
  font-size: 15px;
}

.sport li {
  margin: 10px 0;
}

.sport a,
.sport a:visited {
  color: #363838;
}